.content {
  display: flex;
  flex-direction: column;
  width: 720px;
  height: 780px;
  margin: 0 auto;
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
}

.content__title {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FFF;
  margin: 120px auto auto;
}

.content__btn {
  width: 201px;
  height: 60px;
  background-color: #3C39EC;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #FFF;
  border: none;
  outline: none;
  border-radius: 100px;
  margin: auto auto 112px;
  cursor: pointer;
}

.bg_close {
  background-image: url(./images/bg-close.png);
}

.bg_open {
  background-image: url(./images/bg-open.png);
}
