#root {
  display: flex;
  flex-direction: column;
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  width: 720px;
  height: 780px;
  margin: 0 auto;
  background-image: url(./images/bg.png);
}

div { 
  display: flex;
  flex-direction: column;  
  width: 720px;
  height: 780px;
  margin: 0 auto;
}
  

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 96px;
  text-align: center;
  color: #3C39EC;
  margin: auto;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 96px;
  text-align: center;
  color: #3C39EC;
  margin: auto;
}
