@font-face {
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v6/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8lqxTN1OVgaY.woff2) format('woff2');
  font-family: 'JetBrains Mono';
  font-weight: 300;
  font-display: swap;
}

@font-face {
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v6/tDbV2o-flEEny0FZhsfKu5WU4xD2OwG_TA.woff2) format('woff2');
  font-family: 'JetBrains Mono';
  font-weight: bold;
  font-display: swap;
}
